cached_property
networkx
penman>=1.1.0
pytorch-ignite==0.4.4
regex
sacrebleu
smatch
transformers==4.4.2
PyYAML>=5.1
jsonlines
sklearn
scipy
#torch==1.6.0+cu101 -f https://download.pytorch.org/whl/torch_stable.html
